.git
.github
.vs

**/bin
**/obj
**/node_modules

ClientApp/build
ClientApp/.env
ClientApp/.env.*

.env
.env.*

**/*.user
**/*.suo
**/*.log
**/*.tmp
**/*.swp

Dockerfile*
docker-compose*

.DS_Store
Thumbs.db